.divHeader {
  color: var(--base-text, #262626);
  position: relative;
  display: flex;
  height: 70px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-bg-cards, #fff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.divHeaderTitle {
  position: absolute;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.headerLink {
  position: absolute;
  left: 20%;
  text-decoration: none;
}
